{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dziennik COVID-19</title>
    <link rel="icon" href="{% static "img/favicon.png" %}">
    <!-- Bootstrap CSS -->
    {% include 'css.html' %}
</head>

<body>
<!--::header part start::-->
{% include 'navbar_homepage.html' %}
<!-- Header part end-->

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Razem zadbajmy
                            o nasze zdrowie</h1>
                        <p>Wspólnie z użytkownikami chcemy zbierać dane dotyczące objawów, przebiegu oraz powikłań
                            zarażenia wirusem COVID-19, aby dostarczyć dane dla lekarzy, koncernów opracowujących
                            szczepionkę, ale przede wszystkim dla użytkowników, którzy będą mogli śledzić swój stan
                            zdrowia i wcześniej identyfikować potencjalne zakażenie. Zajmie to mniej niż 3 minuty!
                        </p>
                        <div>
                        <form method="post">
                            {% csrf_token %}
                            <input class="btn_2" type="submit" value="Biorę udzial"/>
                            <a href={% url 'intro_login' %} class="btn_2">Mam już kod</a>
                        </form>


                        </div>
                        <div class="banner_item">
                            <div id="one" class="single_item">
                                <img src="{% static 'img/icon/banner_1.png' %} " alt="">
                                <h5>Zbierzmy Dane</h5>
                            </div>
                            <div id="two" class="single_item">
                                <img src="{% static 'img/icon/banner_2.png' %}" alt="">
                                <h5>Udostępniajmy</h5>
                            </div>
                            <style>.banner_part .banner_item {
                                     margin-right: 60px;
                                    }
                            </style>
                            <div id="three" class="single_item">
                                <img src="{% static 'img/icon/banner_3.png' %}" alt="">
                                <h5>Pokonajmy Wirusa</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_ability section_padding">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="our_ability_img">
                    <img src="{% static 'img/ability_img.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="our_ability_member_text">
                    <h2>Nasz pomysł</h2>
                    <p>Chcemy, aby zebrane przez nas dane przebiegu choroby oraz jej symptomów już we wczesnych dniach
                        przyczyniły się do pomocy w leczeniu i dały możliwość monitorowania swojej sytuacji. W
                        przyszłości mamy nadzieję na dostarczenie informacji, które pomogą w identyfikacji takich
                        zagrożeń i lepsze przygotowanie do przeciwdziałania epidemii.
                    </p>
                    {#                        <ul>#}
                    {#                            <li><span class="ti-mouse"></span>Modern Technology</li>#}
                    {#                            <li><span class="ti-heart-broken"></span>Worldclass Facilities</li>#}
                    {#                            <li><span class="ti-package"></span>Experienced Nurse</li>#}
                    {#                            <li><span class="ti-headphone-alt"></span>24 Hours Support</li>#}
                    {#                        </ul>#}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our_ability part end-->

<!-- top_service part start-->
<section class="top_service our_ability padding_bottom">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5 col-lg-5">
                <div class="our_ability_member_text">
                    <h2>Jak to działa</h2>
                    <p>To bardzo proste – klikając „biorę udział”, dostaniesz anonimowy kod, który pozwoli nam podążać
                        za Twoją historią zalogowań. Po zakończeniu otrzymasz od nas plik z historią choroby. Ważne jest,
                        aby go zapisać i wgrać przy kolejnej wizycie. Nie bierzemy od Ciebie danych osobistych, chcemy
                        tylko poznać Twój codzienny stan zdrowia, aby móc śledzić zmiany, przebieg oraz zależności pomiędzy
                        płcią, wiekiem a intensywnością oraz przebiegiem choroby. Już niedługo mamy nadzieję prezentować
                        Twoje odpowiedzi na tle innych użytkowników oraz prawdopodobieństwo zakażenia. Pytania zostały
                        skonstruowane w oparciu o wytyczne od Światowej Organizacji Zdrowia, Naczelnej Izby Lekarskiej
                        oraz po konsultacjach z personelem medycznym.
                    </p>
                    <a href="#" class="btn_2">Dowiedz się więcej</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="our_ability_img">
                    <img src="{% static 'img/top_service.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="doctor_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <a name="pomoc"></a>
                    <h2 > Pomocne linki</h2>
                    <p>Informacje oraz pomoc w przypadku złego samopoczucia znajdziesz na poniższych stronach</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <a href="https://www.gov.pl/web/koronawirus/teleporady---rejestr-placowek-podstawowej-opieki-zdrowotnej-poz">
                            <img src="{% static 'img/gov.PNG' %}" alt="doctor"></a>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <a href="https://www.gov.pl/web/koronawirus/teleporady---rejestr-placowek-podstawowej-opieki-zdrowotnej-poz">
                                <h3>Teleporady</h3></a>
                            <p>Rejestr placówek</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <a href="https://www.gov.pl/web/koronawirus/podejrzewasz-u-siebie-koronawirusa"> <img
                                src="{% static 'img/gov.PNG' %}" alt="doctor"></a>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <a href="https://www.gov.pl/web/koronawirus/podejrzewasz-u-siebie-koronawirusa"><h3>
                                Koronawirus</h3></a>
                            <a href="https://www.gov.pl/web/koronawirus/podejrzewasz-u-siebie-koronawirusa"><p>
                                Podejrzewasz u siebie koronawirusa?</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <a href="https://www.gov.pl/web/koronawirus/wykaz-zarazen-koronawirusem-sars-cov-2"> <img
                                src="{% static 'img/map.PNG' %}" alt="doctor"></a>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <a href="https://www.gov.pl/web/koronawirus/wykaz-zarazen-koronawirusem-sars-cov-2"><h3>Mapa
                                zarażeń</h3></a>
                            <a href="https://www.gov.pl/web/koronawirus/wykaz-zarazen-koronawirusem-sars-cov-2"><p>Dane
                                z Ministerstwa Zdrowia</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <a href="https://www.gov.pl/web/koronawirus/komunikaty-resortow"> <img
                                src="{% static 'img/rzad.PNG' %}" alt="doctor"></a>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <a href="https://www.gov.pl/web/koronawirus/komunikaty-resortow"><h3>Aktualności</h3></a>
                            <a href="https://www.gov.pl/web/koronawirus/komunikaty-resortow"><p>Działania rządu</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="doctor_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <a name="kontakt"></a>
                    <h2 >Kontakt</h2>
                    <br><br>
                    <p>Zapraszamy do kontaktu, jednak pamiętajcie proszę, że nie jesteśmy lekarzami. Staramy się tylko
                        pomóc w zbieraniu danych. Aktualne informacje i zalecenia znajdziecie na
                        <a href="https://www.gov.pl/web/koronawirus/podejrzewasz-u-siebie-koronawirusa">TUTAJ</a>
                        Jeżeli macie pytania do działania strony, pomysły na jej rozwój lub chcecie się z
                        nami skontaktować, aby użyć danych wyślijcie wiadomość pod adres: kontakt@dziennikcovid.pl</p>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>

<!-- footer part start-->
<footer class="footer-area">

    <div class="copyright_part">
        <div class="container">
            <div class="row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

            </div>
        </div>
    </div>
</footer>

<!-- footer part end-->

<!-- jquery plugins here-->

{% include 'js.html' %}
</body>

</html>