<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if numerical == False %}
    <form method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="submit" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
{#        <input type="submit" value="Answer">#}
    </form>
{% else %}
    <form method="post">
        {% csrf_token %}
        <input type="number" name="value" min="0" max="40">
        <input type="submit" value="Answer">
    </form>
{% endif %}
